*{ margin: 0px;
    padding: 0px;
    outline: none;
}

/*-----navBar-----*/
nav{
    width: 100%;
    height: 15vh;
    position: fixed;
    display: flex;
     top: 0;
  left: 0;
z-index: 1000;
    justify-content: space-between;
    background-color: #053C36;
    border: 2px solid #1B4C47;
    
}
.logo{
    width: 25%;
      display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 136px;
    height: 65px;
}
.navmain{
    position: relative;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.navmain a{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.navmain a::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 0px;
    bottom: 0px;
    width: 0px;
    background:   #FAD000;
    transition: width,.4s;
}
.navmain a:hover::after{

    width: 100%;
    cursor: pointer;
}
.navmain a:hover{
    color: #FAD000;
}

.navmain button{
        padding: 15px 35px;
        border-radius: 20px 1px;
        background:transparent;
        color: white;
         border: 1px solid #DCB36A;
}
.navmain button:hover{
    background-color:#DCB36A ;
    cursor: pointer;
}
.bnr{
    width: 100%;
    margin-top: 15vh;
    background-color: #053C36;
}
.bnr img{
    width: 100%;
    height: auto;
}
/*-------section---1*/
.sec1{
    width: 100%;
    height: 50vh;
    background-color: #053C36;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.lleaf{
    width: 20%;
}
.lleaf img{
        margin-left: -99px;
    width: 100%;
    rotate: 38deg;
}
.main{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.main h1{
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    color: white;
}
.main p{
    width: 70%;
    text-align: center;
  list-style-position: inside;
    color: white;
    line-height: 18px;
}
.main button{
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    border-radius: 15px 1px;
    border: 1px solid #FAD000;
}
.main button:hover{
    cursor: pointer;
background-color: #DCB36A;
}
.rleaf{
    width: 20%;
}
.rleaf img{
    margin-top: 110px;
    margin-left: 80px;
    width: 100%;
    rotate: -138deg;
}
.sec2{
    width: 100%;
    height: 50vh;
    background-color: #FFF8F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

}
.sleaf{
    width: 30%;
}
.sleaf img{
    
    width: 500px;
        margin-left: -200px;
    rotate: 10deg;
}
.main2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.main2 h1{
    text-align: center;
    font-size: 50px;
    color: #053C36;
}
.main2 h5{
    text-align: center;
 
}
.main2 span{
    font-size: 18px;
}
.rsleaf{
    width: 30%;
}
.rsleaf img{
    width: 600px;
}


.zones {
  text-align: center;
  padding: 50px 20px;
  background-color: #053C36;
}

.title {
  font-size: 60px;
  font-weight: 700;
  color: white;
}

.title span {
  display: block;
  font-family: 'Great Vibes', cursive;
  font-size: 32px;
  color: #d4a659;
  margin-top: -10px;
}

.zone-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.zone-frame {
  background-image: url('zone-frame.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  position: relative;
  flex-wrap: wrap;
}

.zone-content {
    color:  white;
  text-align: center;
  z-index: 1;
}

.zone-content h3 {
  font-family: 'Great Vibes', cursive;
  font-size: 28px;
  color: #d4a659;
  margin-bottom: 15px;
}

.zone-content ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
}

.offical{
    width: 100%;
    height: 50vh;
    background-color: #FFF8F0;
    display: flex;
    justify-content: center;
}
.cont{
   width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cont h1{
    text-align: center;
    color: #053C36;
}
.cont span{
    color: #d4a659;
}
.cont p{
    text-align: center;
}
.cont h5,span{
    text-align: center;
    color: #053C36;
}
.cont button{
padding: 10px 20px;
border-radius: 15px 1px;
border: 1px solid #d4a659;
background: transparent;
}
.cont button:hover{
    background-color: #d4a659;
}
/*------content----*/
.naturalists{
    width: 100%;
    background-color: #FFF8F0;
}
h2.section-title{
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
  

  color: #003932;
}

.naturalist-profile{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
width: 100%;
height: 50vh;

  background-color:#FFF8F0
}
.naturalist-image{
    width: 20%;
}
.naturalist-image img {
  width: 300px;
  max-width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.naturalist-text {
    margin-top: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.naturalist-text h3 {
  font-size: 32px;

  color: #003932;
}

.naturalist-text p {
  font-size: 16px;
  line-height: 1.2;
 
  color: #003932;
}


.naturalist-profile1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
width: 100%;
height: 50vh;

  background-color: #003932;
}
.naturalist-image{
    width: 20%;
}
.naturalist-image img {
  width: 300px;
  max-width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.naturalist1-text {
    margin-top: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.naturalist1-text h3 {
  font-size: 32px;

  color: white;
}

.naturalist1-text p {
  font-size: 16px;
  line-height: 1.2;
 
  color: white;
}


.banner2{
    width: 100%;
    background-color: #062621;

}
.banner2 img{
    width: 100%;
}
/*----Footer-----*/
.footer {
  background-color: #062621;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  padding: 40px 20px;
  text-align: center;
}

.footer .logo2 {
  height: 60px;
}

.tagline {
  margin: 10px 0;
  font-size: 14px;
  color: #ddd;
}

.location-links {
  margin: 15px 0;
}

.location-links a {
  color: #f8c56a;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.divider {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 20px auto;
  width: 70%;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  margin-top: 10px;
}

.nav-links {
  width: 35%;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
.nav-links a:hover{
  color: #d8a760;
}

.social-icons {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.social-icons a{
  color: white;
  font-size: 18px;
}
.social-icons a:hover{
  color: #d8a760;
}



.policy-links {
  margin-top: 20px;
  font-size: 12px;
  color: #ccc;
}

.policy-links a {
  color: #ccc;
  text-decoration: none;
  margin: 0 5px;
}

.footer p {
  margin-top: 10px;
  font-size: 12px;
  color: #aaa;
}